html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei",
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* 全局深色主题 */
html.dark body {
  background-color: #141414;
}

.mono {
  font-family: "JetBrains Mono", "Cascadia Code", Consolas, monospace;
}
